<br>
<div id="pageContainer" class="top-content">
    <section id="search" class=" text-center">

        <div class="container">

            <h4 class="heading1">Explore Our Classes</h4>

            <p class="heading">

                All classes are taught by experienced professionals providing a positive and challenging program for
                every

                student.

            <p>

                <select id="event" autofocus>

                </select>

            <div id="addGroupButtonPlaceholder">

            </div>

        </div>

        <div id="groups" class="album">

            <div class="container">

                <div id="groupsRow" class="row">

                </div>

                <div id="memberModals"></div>

            </div>

        </div>
    </section>
</div>